---
import Pagination from '../components/Pagination.astro'
import PostCard from '../components/PostCard.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
import { getSortedPostByIndex } from '../lib/posts'

const data = await getSortedPostByIndex(1)
---

<BaseLayout>
  <div class="flex flex-col gap-4">
    {
      data.posts.map((post) => {
        return <PostCard post={post} />
      })
    }
  </div>
  <Pagination currentPage={1} totalPages={data.totalPages} />
</BaseLayout>
