---

---

<footer class="flex h-[30px] items-center px-2 text-sm">
  <span>© 2021-2025 minetaro12 Powered by</span>
  <a
    href="https://astro.build"
    class="ml-1 font-bold text-blue-500 hover:underline">Astro</a
  >
</footer>
